body {
    max-width: 900px;
}
#app {    
    /* width: 100%; */
    text-align: center;
}
#app div {
    display: inline-block;
}
#search-box {
    background-color: #231F20;
    padding: .2em;
    text-align: center;
    width: 100%;
    line-height: 64px;
}
#search-box a {
    line-height: 64px;
}
#search-input {
    background: #3F4448;
    border: none;
    padding-top: 3px;
    padding-left: 3px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-family: monospace;
    width: 300px;
    height: 25px;
}
#search-input::placeholder { 
    color: #88908D;
    opacity: 1; 
  }  
  #search-input::-ms-input-placeholder {
    color: #88908D;
  }  
#search-input::-ms-input-placeholder { 
    color: #88908D;
  }
#search-submit {
    height: 25px;
}
#logogh {
    float: left;
    width: 32px;    
}
